.container {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.logo-header {
    width: 100%;
    height: 150px;
    border-top: 20px solid #F9F6ED;
    border-left: 20px solid #F9F6ED;
    background-image: url('/images/logo.png');
    background-size: 500px 100px;
    background-repeat: no-repeat;
    background-color: #F9F6ED;
}
.app {
  margin: 0 auto;
  width: 720px;
  height: 1080px;
}

.camera_screen {
  position: relative;
  height: 750px;
  background: #000;
}

#video {
  padding-top: 0px;
  margin-top: 0px;
  width: 100%;
  position: absolute;
}

#snap {
  width: 150px;
  height: 150px;
}

#canvas {
  position: absolute;
  z-index: 99;
}

.shoot_button {
  position: relative;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-choosen {
  position: relative;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-image {
  position: relative;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.text-center {
    margin: 0 auto;
    padding-top: 10px;
}

.image-girl {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;    
}

.img-container {
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.img-container-inner {
    width: 100%;
}

.btn-control {
  width: 50px;
  height: 50px;
}

.image-text-point {
  width: 100%;
}

.text-photo-again {
  margin-top: 12px;
  font-size: 16px;
}